flow_extract_pdf.json
{
    "name": "Extrair dados de PDF (Illama) YT",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "4726f0d9-c04d-4930-888f-8c1b59c828fe",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "f4816898-98c9-4d3b-9581-c48d75491566",
        "name": "Webhook",
        "webhookId": "4726f0d9-c04d-4930-888f-8c1b59c828fe"
      },
      {
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "=body.data.message.base64",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          240,
          0
        ],
        "id": "4f83b1fa-0c9c-4b58-b4c0-e5e23b83b60f",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer llx-CoCqnV2sTgDgsWxR70kaL4F7g2pHfKpwbR6TjN7SEgkFpivT"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          0
        ],
        "id": "fd6471e4-9067-4e0f-adfc-59318c678411",
        "name": "HTTP Request"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          700,
          0
        ],
        "id": "31689a11-9b82-4bb2-a46c-a628fdf131fe",
        "name": "Wait",
        "webhookId": "6a1c7edd-adbf-4e77-8cae-c23fa113da70"
      },
      {
        "parameters": {
          "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer llx-CoCqnV2sTgDgsWxR70kaL4F7g2pHfKpwbR6TjN7SEgkFpivT"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          920,
          0
        ],
        "id": "08d81a1a-83e9-4528-b313-687557d1d98d",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "SUCCESS",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "69fede9d-d942-43e2-bfc7-faa420267afe"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Deu certo!"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c2217168-a566-472e-8ca5-04c2ba974b60",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "PENDING",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Pendente"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1140,
          0
        ],
        "id": "7c9d7904-c89c-4102-9dd8-b0bba5845ace",
        "name": "Switch"
      },
      {
        "parameters": {
          "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "Bearer llx-CoCqnV2sTgDgsWxR70kaL4F7g2pHfKpwbR6TjN7SEgkFpivT"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1420,
          -140
        ],
        "id": "f4277f4c-c679-4e2b-9f28-0a64eb5c53ab",
        "name": "HTTP Request2"
      },
      {
        "parameters": {
          "text": "={{ $json.markdown }}",
          "attributes": {
            "attributes": [
              {
                "name": "nome",
                "description": "Nome da pessoa",
                "required": true
              },
              {
                "name": "dataNasc",
                "description": "Data de nascimento da pessoa",
                "required": true
              },
              {
                "name": "cpf",
                "description": "CPF da pessoa",
                "required": true
              },
              {
                "name": "rg",
                "description": "RG da pessoa",
                "required": true
              },
              {
                "name": "pai",
                "description": "Nome do Pai",
                "required": true
              },
              {
                "name": "mae",
                "description": "Nome da Mae",
                "required": true
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1.2,
        "position": [
          1640,
          -140
        ],
        "id": "c5ce9609-7b30-41d9-8e31-6ecd46b2f7e0",
        "name": "Information Extractor"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "gpt-4o"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1580,
          100
        ],
        "id": "4aef4f1e-ea6a-4915-a345-7d3e3295acf4",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "nqhpL5QBvk4vZOG1",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "={{ $('Webhook').item.json.body.instance }}",
          "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
          "messageText": "=*Nome:* {{ $json.output.nome }}\n*Data Nasc.:* {{ $json.output.dataNasc }}\n*CPF:* {{ $json.output.cpf }}\n*RG:* {{ $json.output.rg }}\n*Pai:* {{ $json.output.pai }}\n*Mãe:* {{ $json.output.mae }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          2000,
          -140
        ],
        "id": "6be7ffc1-92f1-44ea-b8e6-cb64b4d71866",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "0kQEHusOMXafgSed",
            "name": "Evolution PENSANDO AI"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Information Extractor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "608f8eb8-2fa5-44e0-acc7-acb4f0c3c644",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a30f473691b940fbf1d08a2e159bb597e4e4c1c9c592a350574078beec7c8ac6"
    },
    "id": "E25amCGhAIOhOtGg",
    "tags": []
  }